.background-container {
    background-color: yellow;
    position: relative;
    height: 500px;
    width: 500px;
}

.main-box{
    background-color: blue;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 450px;
    left: 225px;
}